$background-dark: #222f3e;
$text-light: #feca57;
$text-dark: #202020;
$shadow-light: 4px 4px 10px #d6d6d6;

.header,
.main-content {
  padding: 20px;
}

.header {
  position: relative;
  background: $background-dark;
  color: $text-light;
  margin-bottom: 80px;
  width: 100%;
  height: 100px;
}

.main-content {
  color: $text-dark;
  margin: auto;
  text-align: center;
  box-shadow: $shadow-light;
  width: 100%;
  max-width: 1200px;
  min-height: 500px;
}
//testSass1//
.test div  {
  box-sizing: border-box;
  width: 400px;
  height: 60px;
  margin: 5px 0;
  padding: 5px 10px;
  display: inline-block;
}

$info: #0059ff;
$success: #00b894;
$error: #d63031;
$white: #ffffff;

$colorsMap: (
  'info': $info,
  'success': $success,
  'error': $error
);

@mixin colorUtilities($property) {
  @each $name, $value in $colorsMap {
    &-#{$name} {
      #{$property}: $value;
      @if $property == 'border-color' {
        border-width: 2px;
        border-style: solid;
        
      }
    }
  }
}

.color {
  @include colorUtilities(color);
}

.background {
  @include colorUtilities(background-color);
}

.border {
 @include colorUtilities(border-color);
}